<h1>Pokeman Stats by Type and Generation</h1>
<h3></h3>

<div>
  <span id="tooltip" class="hidden">
    <p><strong>So strong!</strong></p>
    <p><span id="value">100</span></p>
  </span>


  <svg>

  </svg>

</div>



<h4>Sort by:</h4>
<div id="sort-by-controls">
  <input type="radio" name="mode" value="Type" id="Type" checked><label for="`clickedType`"> Type</label>
  <input type="radio" name="mode" value="Generation" id="Generation" (click)="changeSort()"><label for="clickedGeneration"> Generation</label>
</div>